@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
main {
  width: 1170px;
  height: 619px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.person {
  width: 270px;
  height: 619px;
  margin: auto;
}
.name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #2d3033;
  margin: 30px 0 5px 0;
}
.profession {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ff4343;
  margin: 0;
}
.information {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6c7279;
  margin: 16px 0 30px;
}
