@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@700&display=swap");
main {
  width: 1511px;
  height: 535px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.information {
  width: 770px;
  height: 490px;
  background: #5c3249;
}
