@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
main {
  width: 1525px;
  height: 678px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.work {
  width: 378px;
  height: 340px;
  margin: auto;
}
.name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 70px 0 30px 0;
}
.user {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.work_1:hover .prewive {
  display: block;
  background: rgba(255, 67, 67, 0.8);
  text-align: center;
}
.work_1 {
  position: relative;
  margin: auto;
  width: 378px;
  height: 340px;
}
.prewive {
  display: none;
  height: 100%;
}
.work_1 img {
  height: 100%;
  width: 100%;
}
.work_1 .prewive {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15% 3%;
  box-sizing: border-box;
}
.work_1:active .prewive {
  background: rgba(185, 12, 12, 0.8);
}
