@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
main {
  width: 1170px;
  height: 717px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.features {
  width: 370px;
  height: 304px;
  text-align: center;
  margin: auto;
}
.header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  text-transform: uppercase;

  color: #2d3033;
}
p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #6c7279;
  margin: 35px 0px;
}
