@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;900&display=swap");
main {
  width: 1170px;
  height: 224px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
